
  <section class="opening-hours overflow-hidden">
    <div class="container">
      <h2 class="text-uppercase lined">Relatório</h2>
      <p class="text-muted mb-5">Emissão de relatórios</p>

      <div class="row align-items-center">
        <div class="col-lg-12 mb-5 mb-lg-0">
          <div class="card shadow-sm border-0">
            <div class="card-body border-top border-md border-primary p-5">
              <ul>
                <li>
                  Autores
                  <ul>
                    <li>
                      <a href="http://localhost:8080/api/relatorio/autor/pdf" target="_blank">Exportar PDF</a>
                    </li>
                    <li>
                      <a href="http://localhost:8080/api/relatorio/autor/xls" target="_blank">Exportar Excel</a>
                    </li>
                  </ul>
                </li>
                <li>
                  Assuntos
                  <ul>
                    <li>
                      <a href="http://localhost:8080/api/relatorio/assunto/pdf" target="_blank">Exportar PDF</a>
                    </li>
                    <li>
                      <a href="http://localhost:8080/api/relatorio/assunto/xls" target="_blank">Exportar Excel</a>
                    </li>
                  </ul>
                </li>
                <li>
                  Livros
                  <ul>
                    <li>
                      <a href="http://localhost:8080/api/relatorio/livro/pdf" target="_blank">Exportar PDF</a>
                    </li>
                    <li>
                      <a href="http://localhost:8080/api/relatorio/livro/xls" target="_blank">Exportar Excel</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
