<section class="hero-home bg-cover bg-center">
    <div class="container index-forward py-5 mb-5">
      <div class="row text-white">
        <div class="col-lg-8">
          <h1 class="text-uppercase mb-0 text-shadow">Cadastro de Livros</h1>
          <p class="h5 my-4 text-shadow">Crud de cadastro de livros com docker</p>
          <p>Este projeto foi desenvolvido a fim de demonstrar meus conhecimentos técnicos para concorrer a uma oportunidade de emprego como desenvolvedor Sênior/Master.</p>
        </div>
      </div>
    </div>
</section>
